/*Notepad*/
.card {
  width:49%;
  margin-left: 6px;
  background-color: blue;
}
body {
font-family: 'montserrat', sans-serif;
}
.card-header i {
  float:right;
}
.fa-trash, .fa-pencil-alt {
  cursor: pointer;
}
.hidden {
  display:none
}
.swatch {width:20px;
height:20px;
float:left;
 margin-right:10px;
  border-radius: 50%;
  cursor: pointer;
    background-color: black;
      }
      .myNote {
        background-color: #696969;;
       font-family: 'montserrat', sans-serif;
       color: 
      }
      
.swatch:hover, .active  {border: 3px solid rgb(247, 189, 189)}


}
/*notepad*/